body {
    background-color: #5A5A5A; 
  }

  .btn-primary {
    background-color: #00b703; 
    color: #fff; 
    border-color: #fff;
  }
  
  .btn-primary:hover {
    background-color: #018303; 
    color: #b8b8b8;
    border-color: grey;
  }
  .navbar {
    background-color:#d3d3d3ec;
  }

  .input-group-text{
    background-color: #00ae2bd6; 
    color:#ffffff;
  }